= form_for @plan do |f|
  - if @plan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plan.errors.count, "error")} prohibited this plan from being saved:"
      %ul
        - @plan.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :max_number_of_repos
    = f.number_field :max_number_of_repos
  .actions
    = f.submit 'Save'
