%h1 Listing accounts

%table
  %thead
    %tr
      %th Name
      %th Plan
      %th
      %th
      %th

  %tbody
    - @accounts.each do |account|
      - upgrade_actions = Plan.all.map{|p| current_user.upgrade_plan.for_account(account).for_plan(p)}

      %tr
        %td= account.name
        %td= account.plan.title
        %td= link_to 'Show', account
        %td= link_to 'Edit', edit_account_path(account)
        %td= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }
        %td
          - upgrade_actions.each do |a|
            - if a.can?
              = link_to a.plan.title, upgrade_plan_account_path(account, plan_id: a.plan.id), method: :post
            - else
              %span{title: a.description}= a.plan.title

%br

= link_to 'New Account', new_account_path
